body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Theatre";
  src: url(../Fonts/StandingRoomOnlyNF.ttf);
}

.game-intro {
  background-image: url("../Img/animated-theater-marquee_rrhhhogo__F0000.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 100vh;
  background-position: center;
  text-align: center;
}

.game-intro h1 {
  font-family: "Theatre";
  position: relative;
  color: rgb(37, 37, 37);
  position: 50%;
  text-align: -webkit-center;
  padding-top: 305px;
  padding-left: 12px;
  font-size: 85px;
  margin-top: 0;
}

.game-intro .start {
  font-family: "Theatre";
  background: none;
  border: 0;
  color: inherit;
  color: rgb(37, 37, 37);
  position: 50%;
  text-align: -webkit-center;
  font-size: 45px;
  margin-left: 43%;
  padding-top: 8px;
  outline: none;
  transition: 0.3s all;
}

.game-intro .start:hover {
  font-size: 48px;
}

.game {
  display: none;
  background-image: url("../Img/theatre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  text-align: center;
}

h2 {
  font-family: "Theatre";
  position: relative;
  color: rgb(235, 233, 233);
  position: 50%;
  text-align: -webkit-center;
  padding-top: 118px;
  padding-left: 12px;
  font-size: 35px;
  margin-top: 0;
}

h3 {
  font-family: "Theatre";
  position: relative;
  color: rgb(235, 233, 233);
  position: 50%;
  text-align: -webkit-center;
  padding-top: 118px;
  padding-left: 12px;
  font-size: 24px;
  margin-top: 0;
}

#quiz {
  font-family: "Theatre";
  font-size: 20px;
  color: rgb(235, 233, 233);
  text-transform: uppercase;
}

.names {
  margin-top: 24px;
}

.btn-quiz1 {
  display: block;
  color: rgb(235, 233, 233);
  margin: 0 auto;
  margin-top: 65px;
  font-family: "Theatre";
  font-size: 25px;
  background: none;
  border: 0;
  color: inherit;
  outline: none;
  transition: 0.3s all;
}

.btn-quiz1:hover {
  font-size: 30px;
}

.btn-quiz2 {
  display: block;
  color: rgb(235, 233, 233);
  margin: 0 auto;
  margin-top: 298px;
  font-family: "Theatre";
  font-size: 25px;
  background: none;
  border: 0;
  color: inherit;
  outline: none;
  transition: 0.3s all;
}

.btn-quiz2:hover {
  font-size: 30px;
}
#record table {
  margin: 0 auto;
  border: none;
}

#record td {
  color: rgb(235, 233, 233);
  border: none;
  padding: 25px;
  font-family: "Theatre";
  font-size: 20px;
}

.in {
  margin-right: 14px;
  font-size: 20px;
}

.audio {    
  width: 33%;
  float: left;
}

.audio input {
  display: block;
  margin: 14px auto 0 auto;
  font-size: 20px;
}